.index-4
	.awards
		.title
			h3 VLIVE AWARDS
		.list-awards
			.block-item
				.item
					.content
						.icon
							img(src="./assets/images/icons/icons-item-01-index-4.svg", alt="")
						.title-content Nội quy bình chọn
						ul
							li Mỗi fan được bình chọn 1 lần 1 ngày.
							li Những fan tham gia FANSHIP của bất kì nghệ sĩ nào trong danh sách đề cử, được bình chọn tối đa 2 lần 1 ngày.
							li 1 ngày được tính từ 00:00:01 tới 23:59:59.
							li Thời gian bình chọn: Từ 09/12/2019 tới hết ngày 29/12/2019
			.block-item
				.item
					.content
						.icon
							img(src="./assets/images/icons/icons-item-02-index-4.svg", alt="")
						.desc VLIVE AWARDS là giải thưởng hằng năm nhằm tôn vinh những nghệ sĩ có hoạt động nghệ thuật tích cực với những sản phẩm âm nhạc có chất lượng tốt, tạo được tiếng vang và có được sự ủng hộ từ cộng đồng.
			.block-item
				.item
					.content
						.icon
							img(src="./assets/images/icons/icons-item-03-index-4.svg", alt="")
						.title-content Quyền lợi bình chọn:
						ul
							li Mỗi fan được bình chọn 1 lần 1 ngày. 
							li Những fan tham gia FANSHIP của bất kì nghệ sĩ nào trong danh sách đề cử, được bình chọn tối đa 2 lần 1 ngày.
							li 1 ngày được tính từ 00:00:01 tới 23:59:59.
	.container.block-vote
		.title
			h3 V FANSHIP COMMUNITY
			p Giải thương tôn vinh cộng đồng FANSHIP hoạt động tích cực trên VLIVE
		.row-wrapper
			.row.no-gutters.list-vote
				-for(i=1;i<6;i++)
					.item-vote(data-value=i)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
							figcaption
								h5 TÊN CA SĨ
								.number-vote
									p Tổng số lượt
									p 10
	.container.block-vote
		.title
			h3 BEST COMEBACK
			p Giải thưởng tôn vinh nghệ sĩ sở hữu tác phẩm “comeback” ấn tượng,
				br
				| tạo xu hướng trong năm 2019
		.row-wrapper
			.row.no-gutters.list-vote
				-for(i=1;i<6;i++)
					.item-vote(data-value=i)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
							figcaption
								h5 TÊN CA SĨ
								.number-vote
									p Tổng số lượt
									p 10
	.container.block-vote
		.title
			h3 BEST COMEBACK
			p Giải thưởng tôn vinh nghệ sĩ sở hữu tác phẩm “comeback” ấn tượng,
				br
				| tạo xu hướng trong năm 2019
		.row-wrapper
			.row.no-gutters.list-vote
				-for(i=1;i<6;i++)
					.item-vote(data-value=i)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
							figcaption
								h5 TÊN CA SĨ
								.number-vote
									p Tổng số lượt
									p 10
	.container.block-vote
		.title
			h3 FAVOURITE RISING STAR OF THE YEAR
			p Giải thưởng tôn vinh nghệ sĩ trẻ tài năng, được yêu thích của năm 2019.
		.row-wrapper
			.row.no-gutters.list-vote
				-for(i=1;i<6;i++)
					.item-vote(data-value=i)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
							figcaption
								h5 TÊN CA SĨ
								.number-vote
									p Tổng số lượt
									p 10
	.container.block-vote
		.title
			h3 FAVOURITE RISING STAR OF THE YEAR
			p Giải thưởng tôn vinh nhóm nhạc được yêu thích trong năm 2019.
		.row-wrapper
			.row.no-gutters.list-vote
				-for(i=1;i<5;i++)
					.item-vote(data-value=i)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
							figcaption
								h5 TÊN CA SĨ
								.number-vote
									p Tổng số lượt
									p 10
	.container.block-vote
		.title
			h3 FAVOURITE V HEARTBEAT LIVE STAGE OF KPOP STAR
			p Giải thưởng tôn vinh  ca sĩ/ nhóm nhạc KPOP có màn trình diễn được yêu thích
				br
				| trên sân khấu V Heartbeat LIVE trong năm 2019.
		.row-wrapper
			.row.no-gutters.list-vote.border-0
					-for(i=1;i<12;i++)
						.item-vote(data-value=i)
							figure
								.box-img
									img.ofc(src="./assets/images/item-vote/"+i+".png", alt="")
								figcaption
									h5 TÊN CA SĨ
									.number-vote
										p Tổng số lượt
										p 10
	.btn.shadow
		button#btn-vote(data-url="#") BÌNH CHỌN